<ng-container *ngIf="result">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let gif of result.gifs">
      <div class="card bg-dark text-light mb-3">
        <img
          [style.width]="gif.images.fixed_height.width + 'px'"
          src="{{ gif.images.fixed_height.url }}"
          alt="{{ gif.title }}"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ gif.title }}</h5>
        </div>
      </div>
    </div>
  </div>
</ng-container>
